<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mon PDF</title>
</head>
<body>
    <h1>Telechargement de PDF </h1>
    <p>Ceci est un document PDF généré avec Symfony et DomPDF.</p>
    <input href="{{ path('app_pdf') }}" type="button" value="Generer" target="_blank" placeholder="Génerer">Télécharger le PDF</input>
</body>
</html>